#################################################
#Build files
#################################################

/target/
build/
out/

#################################################
#Fichiers de configuration sensibles
#################################################

# Fichier local contenant les credentials DB
db.properties
*.env

#################################################
#IntelliJ IDEA
#################################################

.idea/
*.iml
*.iws
*.ipr

#################################################
#Maven
#################################################

!.mvn/wrapper/maven-wrapper.jar

#################################################
#Logs
#################################################

*.log

#################################################
# OS
#################################################

.DS_Store
Thumbs.db

#################################################
#Compiled files
#################################################

*.class

#################################################
#Test reports
#################################################

/surefire-reports/

#################################################
#Temporary files
#################################################

*.tmp
*.swp